<nav style="background-color:rgb(208, 244, 250) ;" class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <strong class="navbar-brand">Chat App</strong>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul style="margin-left: 75%;" class="navbar-nav">
        <li style="margin-right: 10px;" class="nav-item">
          <button mat-raised-button routerLink="register" routerLinkActive="active">Register</button>
        </li>
        <li class="nav-item">
          <button mat-raised-button routerLink="login" routerLinkActive="active">Login</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>